#nav-bar {
	position: fixed;
	height: 50px;
	width: 100%;
	background: #fff;
	
	.left-cntr {
		position: absolute;
		left: 0;
	}
	
	.right-cntr {
		position: absolute;
	}
	
	.below-cntr {
		position: absolute;
		height: 10px;
		top: 50px;
		
		&.top {
		
		}
	}
}
