// Fonts
@import "sass/lato";

// Lato
$primary-font: 'Lato';
$lato-hairline: 100;
$lato-light: 300;
$lato-regular: 400;
$lato-bold: 700;
$lato-black: 900;

// Constants
$primary-color: #129ff8;

// Mixins
@import "sass/myMixins";

$dark-background: #232234;
$dark-font: #b6cdf0;

* {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

body, html, #root {
	margin: 0;
}

#root, #inferno-root {
	font-family: $primary-font;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

// LoginView
@import "components/Login/login";

// Dashboard
@import "components/Dashboard/dashboard";

// Components
@import "components/UI/Material/Button/button";
@import "components/UI/Material/Input/input";
